<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pro-GO</title>
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@unocss/reset/normalize.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet"></link> 

    <style>
            button{
                -webkit-appearance: button; /* 1 */
                background-color: transparent;
                background-image: none; /* 2 */
                border: 2px solid
                }

            .addBorder{
                border: 2px solid white;

            }
            [un-cloak] {
                display: none;
            }
            body{
                background: #0f172a;
            }
            .htmx-indicator{
            display:none;
            }
            .htmx-request .htmx-indicator{
                display:inline;
            }
            .htmx-request.htmx-indicator{
                display:inline;
            }

            .htmx-request > i{
                display: none;
            }
    </style>
</head>
<body id="SwapPanel" class="bg-slate-900 h-full p-0 m-0 "> 
    <section class=""> 
        <nav class=" flex text-center justify-between h-[10vh] align-bottom"> 
    
        <h1 class="text-blue-500 text-4xl p-0 m-2" >Pro-Go</h1>
               
        <div class="flex p-5 gap-2">
            {{ if .IsLoggedIn}}
                <a class="text-white no-underline hover:text-blue-500" href="/bookmarks"> Bookmarks</a>
            {{else}}
                <a class="text-white no-underline hover:text-blue-500" href="/entry"> Login</a>
            {{end}}
        </div>
                

        </nav>
        <article class="flex flex-col text-center justify-center text-white h-[80vh] bg-no-repeat bg-cover bg-[url(https://i.ibb.co/4ftkbdB/bgIMG.pnggit)]">
            <h2 class="text-5xl m-2">For All Your Programming & Tech News</h2>
        </article>
    </section>
    <h2 class="text-white pb-10 pl-2" >Here's your Articles</h2>
    <section class="flex align-center justify-around ">
            <article  id="articleBody" class="grid grid-cols-1 md:grid-cols-3 gap-10 w[70%]"  >
                    {{ if .Articles}}
                        {{range .Articles}}
                        <div class="addBorder rounded-lg  w-72 h-[500px]  mx-auto text-center mb-10" un-cloak>
                            
                            <a class="w-72 h-[450px} text-[16px] text-white no-underline flex flex-col flex-start" href={{.Url}} target="_blank" un-cloak >
                                <img class="w-72 h-36 rounded-lg "   src={{.UrlToImage}}  onerror="this.src='https://i.ibb.co/W2LttSG/error.png';this.onerror='';" alt="img failed to failed"/>
                                <h2 class="h-20 overflow-y-hidden">{{ .Title}} </h2>
                                {{if .Author}}<p>{{.Author}} </p> {{else}} <p>Unknown</p>{{end}}
                                <p class="h-32 overflow-y-hidden px-2 overflow-x-hidden">{{ .Description}}</p> 
                            </a>
                            <div class="pt-10">
                                <button class="border-1 border-white rounded-lg text-[16px] w-48  bg-white text-slate-900 hover:text-white hover:bg-blue-500">Submit an Article</button>
                                <button class="border-1 border-white rounded-lg text-[16px] w-48  bg-white text-slate-900 hover:text-white hover:bg-blue-500">Contact Us</button>
                            </div>
                            
                            <div class="flex justify-right pr-4 pb-4" hx-post="/checkBookmarks" hx-target="find i" hx-trigger="load" hx-include="this" hx-swap="outerHTML">
                                <i class="far fa-bookmark text-white  hover:text-blue-500  cursor-pointer">...loading</i>
                                <input  class="hidden" name="Author" value={{.Author}}></input>
                                <input  class="hidden" name="Title" value={{.Title}}></input>
                                <input  class="hidden" name="UrlToImage" value={{.UrlToImage}}></input>
                                <input  class="hidden" name="Url" value={{.Url}}></input>
                                <input  class="hidden" name="Description" value={{.Description}}></input>
                            </div>
                        </div>
                        {{end}}
                    {{else}}
                        <p class="text-white text-center text-4xl"> Nothing Found</p>
                    {{end}}
                    
            </article>
            <article >
                <form class="flex flex-col align-center gap-5 mt-20" hx-on::after-request="this.reset()">
                    <input id="searchBar" name="searchRes" placeholder="...search">
                    <button hx-post="/search"  hx-target="#articleBody" hx-include="#searchBar" hx-swap="innerHTML" class="text-white w-32 mx-auto">Find Something</button>
                </form>
            </article>
    </section>
    <footer class="flex flex-col text-center justify-center mx-auto h-20vh py-5 ">
        <p class="text-white text-2xl"> Created by WilliamJP</p>
        <div>
            <a  href="https://github.com/WilliamJPriest"><i class="fa-brands  fa-github text-2xl text-white mx-2.5"></i></a>
            <a  href="https://twitter.com/WilliamJPriest1"><i class="fa-brands  fa-twitter text-2xl text-white mx-2.5"></i></a>
        </div>
    </footer>
</body>
</html>