
        {{ if .Articles}}
            {{range .Articles}}
        <article  id="articleBody" class="grid grid-cols-1 md:grid-cols-3 gap-10 w[70%]"  >
            <div class="addBorder rounded-lg  w-72 h-[500px]  mx-auto text-center mb-10" un-cloak>
                
                <a class="w-72 h-[450px} text-[16px] text-white no-underline flex flex-col flex-start" href={{.Url}} target="_blank" un-cloak >
                    <img class="w-72 h-36 rounded-lg "   src={{.UrlToImage}}  onerror="this.src='https://i.ibb.co/W2LttSG/error.png';this.onerror='';" alt="img failed to failed">
                    <h2 class="h-20 overflow-y-hidden">{{ .Title}} </h2>
                    {{if .Author}}<p>{{.Author}} </p> {{else}} <p>Unknown</p>{{end}}
                    <p class="h-32 overflow-y-hidden px-2 overflow-x-hidden">{{ .Description}}</p> 
                </a>
                
                <div class="flex justify-right pr-4 pb-4" hx-post="/checkBookmarks" hx-target="find i" hx-trigger="load" hx-include="this" hx-swap="innerHTML">
                    <i class=""></i>
                    <input  class="hidden" name="Author" value={{.Author}}></input>
                    <input  class="hidden" name="Title" value={{.Title}}></input>
                    <input  class="hidden" name="UrlToImage" value={{.UrlToImage}}></input>
                    <input  class="hidden" name="Url" value={{.Url}}></input>
                    <input  class="hidden" name="Description" value={{.Description}}></input> 
                    <input  class="hidden" name="Content" value={{.Content}}></input>
                </div>


         </div>
        </article>
        {{end}}
    {{else}}
            <div class="flex justify-center align-center text-center w[70%] h-[60vh]">
                <p class="text-blue-500  text-4xl"> Nothing Found</p>

            </div>
    {{end}}